@import 'mixins';

:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  --space-xl: 30px;
  --space-lg: 20px;
  --space-md: 10px;
  --space-sm: 2px;

  --purple: #7364e4;
  --yellow: #fea73e;
  --black: #000;
  --white: #fff;
  --black-20: rgba(0, 0, 0, 0.2);
  --white-20: rgba(255, 255, 255, 0.2);

  --bgcolor: var(--purple);
  --ctacolor: var(--yellow);
  --labelcolor: var(--white);
  --msgcolor: var(--black);

  color-scheme: dark light;
  color: var(--labelcolor);
  background-color: var(--bgcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

header {
  display: grid;
  place-items: center;
  padding: var(--space-xl) var(--space-lg) 0;
  img {
    width: 126px;
  }

  @include desktop {
    img {
      width: 100%;
      max-width: 355px;
    }
  }
}

main {
  display: flex;
  gap: var(--space-lg);
  flex-direction: column;
  text-align: center;
  padding: 0 var(--space-lg) var(--space-lg);
  margin: 0 auto;
  @include desktop {
    align-items: center;
    margin: 0;
    width: 100%;
    grid-column: 2 / -1;

    header,
    h2,
    section {
      width: 100%;
      max-width: 355px;
    }
  }
}

aside {
  width: 180px;
  aspect-ratio: 1 /1;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(30px, 100px) rotate(-16deg);

  svg {
    width: 100%;
    height: 100%;
    transform: translateY(160px);
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;

    .calculated & {
      transform: translateY(0);
    }

    [id^='candle'] {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.2s;
      &.visible {
        opacity: 1;
      }
    }
  }

  @include desktop {
    position: relative;
    transform: translate(0, 0);
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--white-20);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    svg {
      transform: translateY(25dvh);
      .calculated & {
        transform: translateY(20dvh);
      }
    }
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 1.55rem;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

label {
  text-align: left;
}

input {
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  border-radius: var(--space-lg);
  padding: 12px 14px;
  border: 2px solid --black;
  box-shadow: 4px 4px 0px 0px var(--black);
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
}

button {
  padding: 12px 14px;
  color: var(--msgcolor);
  background-color: var(--ctacolor);
  border-radius: var(--space-lg);
  // border: 2px solid --black;
  border: 0;
  box-shadow: 4px 4px 0px 0px var(--black);
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  transform-origin: 50% 50%;
  transition: all 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.message {
  border-radius: var(--space-lg);
  background-color: var(--ctacolor);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-out;

  .calculated & {
    transform: translateY(0);
    opacity: 1;
  }

  p {
    margin: 0;
    color: var(--msgcolor);
    font-weight: 500;
  }
}

.day_result {
  color: var(--white);
  background-color: var(--black-20);
  border-radius: var(--space-md);

  display: flex;
  padding: var(--space-md);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -20px;
  align-self: stretch;

  .math_number {
    color: var(--white);
    text-align: center;

    text-shadow: 4px 4px 0px --black;
    font-size: 155px;
    font-weight: 800;
    line-height: 0.8;
  }
  .math_years {
    color: var(--colors-white);
    text-align: center;
    font-size: 2rem;
  }
}

.math_date_text {
  text-align: center;
  font-size: 28px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bgcolor: var(--yellow);
    --ctacolor: var(--purple);
    --labelcolor: var(--black);
    --msgcolor: var(--white);
  }
}

.github_link {
  position: fixed;
  bottom: var(--space-md);
  left: var(--space-md);
  display: block;
  background-color: var(--black);
  background-image: url('./github.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 48px;
  aspect-ratio: 1 / 1;
  font-size: 0;
}
